<!-- Make search bar -->
<div class="container-fluid text-white py-5" style="background-color: #1d2630">
  <h1 class="text-center">Search/Filter Engine</h1>
  <h5 class="text-center">Search Your Query Here</h5>
</div>

<div class="container col-6 mt-5">
  <input
    type="text"
    class="form-control mb-5 p-3"
    placeholder="Search here..."
    id="search-input"
  />
  <ul class="list-group list-group-flush text-primary h5">
    <li class="list-group-item p-3">Java</li>
    <li class="list-group-item p-3">Python</li>
    <li class="list-group-item p-3">C#</li>
    <li class="list-group-item p-3">Dart</li>
    <li class="list-group-item p-3">JavaScript</li>
    <li class="list-group-item p-3">C++</li>
    <li class="list-group-item p-3">Swift</li>
    <li class="list-group-item p-3">C</li>
  </ul>
</div>

<script>
  document.querySelector("#search-input").addEventListener("input", filterList);

  function filterList() {
    const searchInput = document.querySelector("#search-input");
    const filter = searchInput.value.toLowerCase();
    const listItems = document.querySelectorAll(".list-group-item");

    listItems.forEach((item) => {
      let text = item.textContent;
      if (text.toLowerCase().includes(filter.toLowerCase())) {
        item.style.display = "";
      } else {
        item.style.display = "none";
      }
    });
  }
</script>
